html {
  font-family: $font-stack; 
  line-height: 1.15;
}

 nav {
  display: block;
}

body {
  margin: 0;
  text-align: left;
}

a{
  text-decoration: none;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}