$primary-gradient: linear-gradient(15deg, #280116 0 10%, #490229 20%,  #810648 60%, #B90064 100%);

$primary-color: #810648;
$accent-color:#ffdc68;
$success-color: #2e7d32;
$error-color: #f5414f;
$warning-color: #ffa114;

//shades
$black: #1d1d21;
$dark: #202020;
$gray-10: #2e2e31;
$gray-8: #7b7a7d;
$gray-6: #a5a5a6;
$gray-4: #bbbbbc;
$gray-2: #d1d0d2;
$gray-1: #e8e7e8;
$white: #fff;

$colors: (
    "primary": $primary-color,
    "accent": $accent-color,
    "success": $success-color,
    "error": $error-color,
    "warning": $warning-color
);

//font
$font-weights: (
    "regular":400,
    "medium":550,
    "bold":700
);

$positions:('top','bottom','right','left');

$font-stack : Arial, Helvetica, sans-serif;

$default-sidebar-width: 60px;
