%check-core{
    margin-right: 1rem;
    position: relative;
    & input[type="radio"],input[type="checkbox"]{
            cursor: pointer;
            width: 1.1rem;
            height: 1.1rem;
            position: relative;
            top:0.23em;
    }
    & label{
        cursor: pointer;
        position: relative;
        display: inline-block;
    }
}

.check-wrap{
    @extend %check-core;
}

.check-wrap-inline {
    display: inline-block;
    @extend %check-core;
}
